extend layout

block head
   != css("admin")

block content
   
   h1 admin

   .admin-content

      a.headerButton.button(href="/edit/newroom") New Room
      a.headerButton.button.cancel(href="/") Back to Home

      form.startingRoom(action="/edit", method="POST")
         span.label Starting Room:
         select(name="startingRoom")
            if !startingRoom
               option(value="empty", selected="selected") Select starting room
            
            for room in rooms
               if startingRoom == room._id.toString()
                  option(value=room._id, selected="selected")= room.title
               else
                  option(value=room._id)= room.title

         input#saveStartingRoom.small(type="submit", value="Save")

      .section
         h2 Rooms 
         for room in rooms
            .room
               a.button.small.delete(href="/edit/delete/#{room._id}") Delete
               a.button.small.edit(href="/edit/rooms/#{room._id}") Edit
               span.title= room.title
               br
               - var text = room.text.join('~')
               span.text= text.length > 65 ? text.substring(0,65)+'...' : text
   