extend layout

block head
   != css("admin")
   != js("pages/editRoom")

block content
   
   h1= room.title ? 'edit room' : 'new room'

   input(type="hidden", name="allrooms", value="#{JSON.stringify(allRooms)}")

   .admin-content

      form(action="/edit/#{room._id ? 'rooms/' + room._id : 'newroom'}", method="POST")

         span.label Title
         input(type="text", name="title", value="#{room.title || ''}")        

         .section
            h2 Text
            textarea(name="text")
               | #{room.text ? room.text.join('\n~\n') : ''}
            .note Use a tilda (~) on its own line to break up the text into segments.

         .section
            h2 Exits
               a#addExit.button.small Add Exit
            .exitList
               if room.exits && room.exits.length > 0
                  for exit, index in room.exits
                     .exit
                        a.deleteRow.button.small Delete
                        span.label Phrase
                        input(type="text", name="exitPhrase_#{index}", value=exit.phrase)
                        span.label.room Room
                        select(name="exitRoom_#{index}")
                           option(value="empty") Select room
                           for room in allRooms
                              if exit.roomId && exit.roomId.toString() == room._id
                                 option(value=room._id, selected="selected")= room.title
                              else
                                 option(value=room._id)= room.title


         .section
            h2 Objects
               a#addObject.button.small Add Object
            .objectList
               if room.objects && room.objects.length > 0
                  for object, index in room.objects
                     .object
                        a.deleteRow.button.small Delete
                        span.label Phrase
                        input(type="text", name="objectPhrase_#{index}", value=object.phrase)
                        br
                        span.label.text Text
                        textarea.text(name="objectText_#{index}")= object.text.join('\n~\n')


            .note The phrase is what will get highlighted in any of the text.

         input(type="submit", value="Save")
         a.button.cancel(href="/edit") Cancel